*{
  font-family: 'Tinos', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: #FFF6EC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

.header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF6EC;
  z-index: -1;
}

.logo {
  font-size: 2rem;
  color: 7B3F00;
  text-decoration: none;
  font-weight: 700;
}

.navbar a{
  font-size: 1.15rem;
  color: 7B3F00;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

.navbar a::before{
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: 7B3F00;
  transition: .3s;
}

.navbar a:hover::before{
  width: 100%;
}

#check {
  display: none;
}

.icons {
  font-size: 2.8rem;
  right: 5%;
  color: 7B3F00;
  cursor: pointer;
  display: none;
}

.navbar button{
  margin-left: 30px;
      padding: 10px 20px;
      font-size: 10px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      color: FAF0E6;
      background-color: #FFAC1C	;
      transition: background-color 0.3s, color 0.3s;
      font-family: 'Inter', sans-serif;
}

.navbar button:hover{
  background-color: #FFBF00	;
      color: white;
}

.img{
  position: relative;
  height: 100%;
  width: 100%;
}

.img img{
  position: absolute;
  height: 100%;
  width: 100%;
}

.img div{
  position: relative;
  padding: 50px;
  width: 90%;
  top: 15vw;
  left: 10%;
}

.img div h1{
  
  color: white;
  font-size: 6rem;
  padding-bottom: 20px;
}

.img div p{
  color: white;
  font-size: 2rem;
}

.div2 {
  position: relative;
  display: flex;
  padding-top: 75px;
  color: 7B3F00;
  background-color: FAF0E6;
}

.flex_container {
  position: relative;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  top: 10%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex_container div {
  background-color: #E3DAC9;
  z-index: 2;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  height: 350px;
  width: 375px;
}

.flex_container div h1 {
  margin-top: 5px;
  padding: 15px;
}

.flex_container div p {
  padding-right: 10px;
  padding-left: 10px;
}

.img_bottom {
  border-radius: 20px;
  bottom: 0px;
  margin-top: 40px;
  height: 200px;
  width: 375px;
}

.img_top {
  border-radius: 20px;
  height: 200px;
  width: 375px;
}

div.text {
  padding-top: 20px;
  height: 230px;
}

div.text2 {
  padding: 10px;
  padding-top: 20px;
  height: 175px;
}

.menu {
  position: relative;
  color:#FFF6EC;
  background-color: #977043;
  text-align: center;
}

.nadpis {
padding: 30px;
}

.nadpis h1 {
  font-size: 45;
  padding-bottom: 25px;
}

.nadpis p {
  font-size: 20;
}

.container {
  padding-bottom: 5rem;
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
  z-index: 2;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: 7B3F00;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.background {
  position: relative;
}

.background::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(napis2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

}

.rezervace {
  background-color: #FFF6EC;
  color: 7B3F00;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.rezervace h1 {
  padding: 20px;
  font-size: 45;
}

.rezervace p {
  margin-bottom: 40px;
  font-size: 20px;
}

footer {
  background-color: #80461B	;
  color: #FFF6EC;
  border-top: 1px solid black;
}

.footerCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px;
  padding-top: 50px;
}

.footerCon div {
  margin: 50px;
  margin-left: 75px;
  margin-right: 75px;
}

.footerCon div h6 {
  border-bottom: 2px solid #FFF6EC;
  font-size: 30;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.footerCon div li {
  margin: 3px;
  list-style-type: none;
}

.footerCon div label {
  color: FFF6EC;
  font-size: 4rem;
  padding: 5px;
}


/*Breakpointy*/
@media (max-width: 1050px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 920px) {
  .icons {
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon{
    display: none;
  }

  .icons #close-icon{
    display: none;
  }

  #check:checked~.icons #close-icon{
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #FFF6EC;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked~.navbar{
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }

  #check:checked~.navbar a{
    transform: translateY(0);
    transition-delay: calc(.15s * var(--i));
    opacity: 1;
  }

  .navbar button {
    display: block;
    text-align: center;
  }
}